#img-bg{
    background-image: url("https://static.significados.com.br/foto/blog-og.jpg");
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}